input{
    display: inline-block;
}

.lvlInput {
    line-height: 20px;
    width: 90px;
    margin-bottom: 15px;
    display: inline-block;
}


.findPlayerForm{
	font-weight: 700;
	letter-spacing: 2px;
}


#inputError{
	font-size: 24px;
	color: #ffa500;
}

#foundPlayers{
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 25px;
    padding: 5px;
    text-align: left;
    position: relative;
}

.attackBtn {
    position: absolute;
    right: 1%;
    margin-top: -33px;
    width: 90px;
    height: 35px;
    padding: 3px;
    font-size: 18px;
}

h3 {
    text-align: center;
}