h1{
    margin: 0;
    padding: 0;
}

.levelInfo {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.levelInfo h1 {
    margin: 0;
    padding: 0;
}

.expBar {
    padding: 10px;
    background-color: #282828;
    color: #111;
}

.levelInfo:hover .levelLabel {
    opacity: 0.8;
    z-index: 100;
}

.levelLabel {
    opacity: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    border: solid white 2px;
    height: 70px;
    width: 240px;
    position: absolute;
    top: 60%;
    left: 30%;
}


.separator {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	border-bottom: 2px solid white;
}

.combatant {
	margin-top: 50px;
	text-align: center;
}

.combatWindow {
	margin-top: 50px;
	text-align: center;
	overflow-y: scroll;
	max-height: 450px;
}
