.levelInfo {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.levelInfo h1 {
    margin: 0;
    padding: 0;
}

.expBar {
    padding: 10px;
    background-color: #282828;
    color: #111;
}

.levelInfo:hover .levelLabel {
    opacity: 0.8;
    z-index: 100;
}

.levelLabel {
    opacity: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    border: solid white 2px;
    height: 70px;
    width: 220px;
    position: absolute;
    top: 60%;
    left: 30%;
}


/* LABELS LABELS LABELS LABELS LABELS */

.itemLabel {
    opacity: 0;
    position: absolute;
    top: -350%;
    left: -2em;
    width: 100%;
    height: 100%;
    border: 2px dashed #ffff66;
    color: white;
    background-color: #000;
    text-align: center;
    padding: 0;
    margin: 0;
    display: none;
    overflow: hidden;
}

.itemLabelTop {
    position: absolute;
    top: -400%;
    left: -2rem;
}

.itemLabelBot {
    position: absolute;
    top: -600%;
    left: -2em;
}


.eqSmall:hover .itemLabel {
    opacity: 0.9;
    z-index: 100;
    min-width: 240px;
    min-height: 120%;
    width: auto;
    height: auto;
    font-size: 22px;
    padding: 7px;
    margin: 0;
    display: block;
}

.eqLarge:hover .itemLabel {
    opacity: 0.9;
    z-index: 10;
    min-width: 300px;
    min-height: 120%;
    width: auto;
    height: auto;
    font-size: 22px;
    padding: 7px;
    margin: 0;
    display: block;
}

.eqLarge{
    margin-bottom: 6px;
}


form{
    margin: 0;
}
/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */

.statBtn {
    display: inline-block;
    background-color: #282828;
    color: #ffff66;
    border: none;
}

.statBtn:hover {
    color: #ffa500;
}


.hiddenInput{
    display: none;
}
