.customNav {
    background-color: #555;
    width: 100%;
}


.hiddenInput {
    display: none;
}


.baseBtn {
    padding: 5px;
    width: 300px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    background-color: #111;
    color: #BBB;
    border: 2px solid #AAA;
    opacity: 0.8;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
}

.baseBtn:hover {
    opacity: 0.9;
    background-color: black;
    color: #ffff66;
    border: 2px solid #ffff66;
}


.avatar {
    border: solid 3px #ffa500;
    background-color: #282828;
}


.errorMsg {
    font-size: 24px;
    color: #ffa500;
}


/* ITEMS ITEMS ITEMS ITEMS ITEMS */

.eqSmall {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    background-color: #777;
    margin-bottom: 3px;
    display: inline-block;
}

.eqLarge {
    position: relative;
    width: 60px;
    height: 90px;
    background-color: #777;
    margin: 3px;
    display: inline-block;
}


.itemEqS {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 2px dashed white;
    padding: 3px;
    margin: 3px;
}

.itemEqL {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 2px dashed white;
    padding: 3px;
    margin: 3px;
}


.eqSmall:hover .itemEqS {
    border: 2px dashed yellow;
}

.eqLarge:hover .itemEqL {
    border: 2px dashed yellow;
}