
/* CURRENT POSTS */

#userPosts{
    border: 2px dashed black;
    width: 80%;
    max-width: 1436px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.playerPost {
    border-bottom: 2px solid white;
    width: 98%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.messageContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

/* NEW POST */

#newPost {
    cursor: url(../img/misc/cursor.png), auto;
    border: 2px dashed black;
    border-top: none;
    width: 80%;
    max-width: 1436px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.postInput {
    cursor: url(../img/misc/pointer.png), auto;
    width: 90%;
    max-width: 900px;
    height: auto;
    min-height: 20%;
    background-color: rgba(16,16,16, 0.90);
    color: #eee;
    resize: none;
}

.field:valid {
    border-color: #0f0;
}

.field:invalid {
    border-color: #f00;
}