.homeBtn {
    padding-top: 5px;
    width: 300px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    background-color: #111;
    color: #BBB;
    border: 2px solid #AAA;
    opacity: 0.8;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
}

.homeBtn:hover {
    opacity: 0.9;
    cursor: url(../img/misc/pointer.png), auto;
    background-color: black;
    color: #ffff66;
    border: 2px solid #ffff66;
}


#logoutBtn {
    color: #ffa500;
    font-weight: 700;
}

#logoutBtn:hover {
    text-decoration: underline;
}