.userInput
{
	line-height: 36px;
	width: 230px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}


.logOn
{
	font-weight: 700;
	letter-spacing: 2px;
}


#loginError
{
	font-size: 24px;
	color: #ffa500;
}

.indBtn {
    width: 230px;
    box-sizing: border-box;
}

.changelog{
    margin-top: 15px;
    padding: 10px;
    border: ridge 2px yellow;
    width: 40%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}