body 
{
    background-color: #282828;
    color: #CBDBCB;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 1px;
    overflow-x: hidden;
    cursor: url(../img/misc/cursor.png), pointer;
    cursor: url(../img/misc/cursor.png), auto;
    height: 100vh;
    margin-bottom: 25px;
}

::-webkit-scrollbar 
{
    display: none;
}


body a, a:active, a:target
{
	cursor: url(../img/misc/pointer.png), auto; 
}

input[type=text], input[type=button], input[type=submit], input[type=password], input[type=checkbox]
{
    cursor: url(../img/misc/pointer.png), auto; 
}

input[type=text], input[type=button], input[type=submit], input[type=checkbox], input[type=password]:focus
{
    cursor: url(../img/misc/pointer.png), auto; 
}

select, option {
    cursor: url(../img/misc/cursor.png), pointer !important;
    cursor: url(../img/misc/cursor.png), auto !important;
}

h1
{
	padding-top: 25px;
	margin-bottom: 50px;
	font-weight: 700;
}

h2
{
	padding: 7px;
	font-weight: 700;
}

h4 
{
    text-align: center;
    font-weight: 700;
}


img
{
	height: 220px;
	width: 220px;
	margin: 10px;
}


a 
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}


footer
{
	background-color: black;
    margin-top: 200px;
	padding: 10px;
	opacity: 0.9;
	position: absolute;
	position: fixed;
    bottom: 0;
    width: 100%;
}
