main{
    font-size: 24px;
}

input {
    cursor: url(../img/misc/cursor.png), pointer;
    cursor: url(../img/misc/cursor.png), auto;
}

.fileBtn {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.addAvatarBtn{
    width: 200px;
    margin: 10px;
}

