.shopMessage {
    border: 1.5px dashed white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.findItemsForm {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 90%;
    line-height: 40px;
}

.lvlInput {
    line-height: 20px;
    width: 90px;
    margin-bottom: 15px;
    display: inline-block;
}

.input {
    display: inline-block;
}

.formBtn {
    margin-top: 10px;
    line-height: 30px;
    max-width: 400px;
    width: 95%;
}

#itemsContainer{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.itemBtn {
    background: transparent;
    color: #ff0;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin: 0;
    width: 100%;
}

.itemBtn:hover {
    text-decoration: underline;
}


/* LABELS LABELS LABELS LABELS LABELS */

.itemLabel {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    height: 100%;
    border: 2px dashed #ffff66;
    color: white;
    background-color: #000;
    text-align: center;
    padding: 0;
    margin: 0;
    display: none;
    overflow: hidden;
}

.eqSmall:hover .itemLabel {
    opacity: 0.9;
    z-index: 100;
    min-width: 265px;
    min-height: 120%;
    width: auto;
    height: auto;
    font-size: 22px;
    padding: 7px;
    margin: 0;
    display: block;
}

.eqLarge:hover .itemLabel {
    opacity: 0.9;
    z-index: 10;
    min-width: 265px;
    min-height: 120%;
    width: auto;
    height: auto;
    font-size: 22px;
    padding: 7px;
    margin: 0;
    display: block;
}

.eqLarge .itemLabel{
    display: none;
}

.eqSmall .itemLabel {
    display: none;
}

.itemShop {
    display: inline-block;
    margin: 25px;
}

.warningMessage{
    margin-left: auto;
    margin-right: auto;
    color: #d1681d;
}