main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.skillHeader{
    font-size: 25px;
}

.skillForm {
    display: inline-block;
}

.skillImg {
    max-width: 60px;
    max-height: 60px;
    z-index: 2;
}

.skillContainer {
    margin-top: 10px;
    position: relative;
    text-align: center;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.skillContainer:hover .skillHover {
    display: block;
}

.skillHover {
    position: absolute;
    bottom: 0;
    top: -50px;
    padding-top: -10px;
    display: none;
    width: 300px;
    height: 100px;
    max-height: 150px;
    color: #eee;
    background-color: #000;
    opacity: 0.9;
    z-index: 100 !important;
    padding: 5px;
}

.skillHoverLeft{
    left: -200px;
}

.skillBtn {
    display: inline-block;
    background-color: #282828;
    color: #ffff66;
    border: none;
    font-size: 24px;
    line-height: 24px;
}

.skillBtn:hover {
    color: #ffa500;
}